<% include header %>

<div class="main">
  <div class="page">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="page-header">About us</h1>
          <div class="media"><div class="pull-left">
              <div class="media-object">
                <i class="fa fa-camera-retro fa-4x"></i>
              </div></div><div class="media-body">
              <h4 class="media-heading">Leo Damon</h4>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            </div></div><div class="media text-right">
            <div class="pull-right">
              <div class="media-object">
                <i class="fa fa-camera-retro fa-4x"></i>
              </div></div><div class="media-body">
              <h4 class="media-heading">Mathew DiCaprio</h4>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            </div>
          </div>
          <div class="media">
            <div class="pull-left">
              <div class="media-object">
                <i class="fa fa-camera-retro fa-4x"></i>
              </div>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Nick Jackson</h4>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 text-center">
          <h1 class="page-header">Prestige worldwide</h1>
          <p class="lead">The first name in entertainment.</p>
          <i class="fa fa-volume-up bamf"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<% include footer %>