<% include header %>

<div class="main">
	<div class="container">
		<div class="jumbotron">
			<h1>Success</h1>
			<div>
				<p class="lead">Your Node.js website and user system is running.</p>
				<div><a class="btn btn-primary btn-lg" href="/reg">Create an account</a>
					&nbsp; or &nbsp;<a class="btn btn-warning btn-lg" href="/contact">Reset your password</a>
				</div>
			</div>
			</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>About us</h3><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
						<a href="/about" class="btn btn-default btn-block">Learn more</a></div>
				</div>
			</div>
			<div class="col-sm-4"><div class="panel panel-default"><div class="panel-body"><h3>Sign up</h3>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
						<a href="/reg" class="btn btn-default btn-block">Learn more</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>Contact us</h3>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
						<a href="/contact" class="btn btn-default btn-block">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>

<% include footer %>